<div class="text-center bg-gray-100 p-6">
  <div class="md:flex md:gap-10 md:items-center md:justify-center">
    <img
      class="mx-auto mb-4 md:mx-0"
      src="https://www.santarosaforward.com/img/managed/Image/111/file.jpg"
    />
    <div class="">
      <h1 class="font-bold text-4xl">Ivan Matias</h1>
      <div>
        <h3 class="text-xl">Software Developer</h3>
        <p class="mt-4">
          Hi, I'm a software developer based in Los Angeles, California
        </p>
        <div class="flex gap-4 justify-center text-3xl mt-4">
          <a
            class="hover:text-blue-500"
            href="https://github.com/aishyuu"
            target="_blank"
          >
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
          <a
            class="hover:text-blue-500"
            href="https://www.linkedin.com/in/ivan-matias-1331im/"
            target="_blank"
          >
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-10">
    <h3 class="font-semibold text-lg underline">Tech Stack</h3>
    <div class="flex gap-4 flex-wrap justify-center mt-6">
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-plain.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original-wordmark.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          width="60px"
        />
      </div>
      <div class="p-4 bg-white rounded-full">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
          width="60px"
        />
      </div>
    </div>
  </div>
</div>
