<div class="text-center">
  <div class="">
    <img class="mx-auto mb-4" src="https://www.santarosaforward.com/img/managed/Image/111/file.jpg" />
    <div>
      <h1 class="font-bold text-4xl">
        Ivan Matias
      </h1>
      <h3 class="text-xl">
        Software Developer
      </h3>
      <p class="mt-2">
        Hi, I'm a software developer based in Los Angeles, California
      </p>
    </div>
    <div class="flex gap-4 justify-center text-3xl mt-4">
      <a class="hover:text-blue-500" href="https://github.com/aishyuu" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a class=" hover:text-blue-500" href="https://www.linkedin.com/in/ivan-matias-1331im/" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </div>
  </div>
  <div class="mt-6">
    <h3 class="font-semibold text-lg underline">
      Tech Stack
    </h3>
  </div>
</div>