<h4 class="font-bold underline text-center my-6">ABOUT ME</h4>
<div class="my-6 p-6 md:flex md:items-center md:mx-auto md:w-5/6">
  <img
    src="https://media.cnn.com/api/v1/images/stellar/prod/150929101049-black-coffee-stock.jpg?q=x_3,y_1231,h_1684,w_2993,c_crop/h_720,w_1280"
    alt=""
    srcset=""
    class="rounded-lg scale-90 md:object-scale-down md:w-11/12 xl:w-3/5"
  />
  <!-- Text Below -->
  <div class="text-center mt-6">
    <h2 class="text-2xl font-semibold mt-2">Hi There!</h2>
    <p class="mt-2">My name is Ivan Matias, an applied Mathematics graduate with skills in software development</p>
    <p class="mt-2">I love learning new things and get excited at opportunities where I am forced to adapt my current knowledge to a new problem</p>
    <p class="mt-2">In addition to software development, I love economics, history, and video games.</p>
  </div>
</div>
